*
{
  padding: 0;
  margin: 0;
}

.logo{
	background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-size: 65%;
  margin-top: 0.49em;
  margin-left: 1em;
  width: 14em;
  height: 100%;
}

/*modal*/
.modal{
	width: 40%;
}

.modal div:last-child{
	text-align: center;
}


.one{
  height: 25em;
  /*outline: 1px solid red; */
}
.image1{
  vertical-align: center;
}
img.teamPic{
  height: 20em;
  width: 30em;
  max-width: 100%;
  height:auto;
  border-radius: 21.5em;
  margin-top: 2em;
}
.description p{
  font-size: 1.247em;
}

img.valeUx, img.roUx, img.macaUx, img.camiFront, img.maripiFront{
  height: 15em;
  width: 15em;
  border-radius: 50em;
}
img.valeUx:hover, img.roUx:hover, img.macaUx:hover, img.camiFront:hover, img.maripiFront:hover{
  filter:grayscale(80%);
  height: 16em;
  width: 16em;
  box-shadow: 5px 5px 10px 5px lightgray;
}
.right{
  vertical-align: center;
}

.nameUx, .nameFront{
  font-weight: bolder;
  font-size: 1.2em;
}

.page-footer{
  margin-top: 5em;
  height: 10em;
  text-align: center;
  vertical-align: center;
  padding-top: 4em;
  margin-bottom: 0;
}
p.copyright{
  font-size: 1.25em;
}

.logo-footer{
  width: 14em;
  height: 100%;
}
.social-icons{
  font-size: 1.5em;
}
.fa-facebook-square, .fa-twitter-square, .fa-envelope-o, .fa-exclamation-triangle{
  color: #FFF;
  margin-right: 1em;
}
