* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

nav .nav-wrapper {
	position: relative;
	height: 100%;
	background-color: ;
}

.logo{
	background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-size: 65%;
  margin-top: 0.49em;
  margin-left: 1em;
  width: 14em;
  height: 100%;
}

/*modal*/
.modal{
	width: 60%;
}

.modal div:last-child{
	text-align: center;
}

.btn{
	padding: 0 0.8em;
}
/*fin modal*/

.principalPhoto {
	width: 45%;
	height: auto;
	margin-top: 10px;
	object-fit: cover;
	text-align: center;
}

.fa-star {
	font-size: 2.3em;
	padding-right: 10px;
	color: #afaeae;
	-webkit-transition: font-size 1s; /* For Safari 3.1 to 6.0 */
    transition: font-size 1s;
}

.fa-star:hover{
	font-size: 2.34em;
	color:#ffbf00;
}

.comment {
	width: 100%;
	height: auto;
	margin-top: 20px;
}

.review {
	text-align: left;
}

.btn{
	margin-top: 20px;
	margin-bottom: 10px;
	margin-left: 10px;
	padding: 0.4em;
}

.carruselSagas {
	width: 100%;
	height:300px;
}

.carousel-slider {
	width: 40%;
	position: relative;
}

.otherMovies {
	text-align: center;
}

.trailerMovie {
	display:block;
	margin:auto;
	padding-top: 30px;
}

.btnLink {
	text-align: center;
}

.linkLibrery {
	margin-right: 10px;
	text-decoration: none;
}

footer {
	background-color: #EE6E73;
}

.postMovie{
	margin-top: 2em;
	margin-bottom: 1em;
}

.h6bigger{
	font-size: 1.5em;
	font-weight: bold;

}
.videoYtb{
	margin-top: 7em;
}
