.mas-vistos{
	background-color: grey;
	width: 20em;
	height: 50em;
}
.categorias{
	font-size: 2.5em;
}

.input-field input[type=search]{
	padding-left: 3em;
}

.bright{
	-webkit-filter: brightness(0.5); /* Safari */
	 filter: brightness(0.5);
}

.totheButtom{
	margin-top: 12%;
}

.images{
	width: 10em;
	height: auto;
	background-size: cover;
}

.moreSeenSection{
	background-color: #ececec;
}

.dottedline{
	margin: 1em;
	border: none;
	border-bottom: 1px dotted #ceced0;
}
