.logo{
	background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-size: 65%;
  margin-top: 0.49em;
  margin-left: 1em;
  width: 14em;
  height: 100%;
}
/*modal*/
.modal{
	width: 60%;
}

.input-field input[type=search]{
	padding-left: 3em;
}

.bright{
	-webkit-filter: brightness(0.5); /* Safari */
	 filter: brightness(0.5);
}

.totheBottom{
	margin-top: 18%;
}

.images{
	width: 10em;
	height: auto;
	background-size: cover;
}

.moreSeenSection{
	background-color: #ececec;
}

.dottedline{
	margin: 1em;
	border: none;
	border-bottom: 1px dotted #ceced0;
}
